@use "/assets/styles/theme";

.boite-parent {
    width: 100%;
    height: 100vh;
    display: flex;
}

.boite-gauche, .boite-droite {
 width: 50%;
}


.boite-gauche {
    background: center / cover url("/public/img/test4.png");
}
.flou {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(40px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.texte-gauche {
    padding: 32px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    border-radius: 4px;
    width: 50%;
    height: 50%;
    background-color: rgba(255,255,255,0.3);
    font-size: 32px;
    color: white;

    & > p {
        font-size: 24px;
    }
}


.boite-droite {
    display: flex;
    align-items: center;
    justify-content: center;
}

 .boite-droite > form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 40%;
}
.champ-form {
    display: flex;
    flex-direction: column;
}
.boite-droite > form label {
    font-weight: 600;
}

.boite-droite > form input {

    padding: 8px 16px;
    border: solid 1px theme.$border;
    border-radius: 8px;
    transition: border-color .15s ease-in-out;
    &:hover {
        border: solid 1px theme.$secondary;
    }

    &:active {
        border: solid 1px theme.$secondary;
    }
}

.checkbox input {
    margin-right: 8px;
}

.sign-in {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background: theme.$secondary;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

