@use "../../../assets/styles/theme";

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: theme.$bg-primary;
  color: theme.$text-primary;
  border-right: 1px solid theme.$border;
  padding: 32px 16px;

  & > a {
    display: inline-block;
    width: 75%;
  }
}
.navlinks {
  padding-top: 48px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

}
.navlink {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 8px;
  transition: all 0.15s ease-in-out;
  border-radius: theme.$border-radius * 2;
  padding: 4px 0;

  &:hover {
    color: theme.$secondary;
    background-color: rgba(theme.$secondary, 0.07);
    svg {
      fill: theme.$secondary;
    }
  }

  p {
    font-size: 0.875rem;
    font-weight: 500;
  }
}

.navlink-active {
  color: theme.$secondary;
  background-color: rgba(theme.$secondary, 0.07);

  svg {
    fill: theme.$secondary;
  }
}

.logo {
  img {
    width: 100%;
    object-fit: cover;
  }
}