{% extends 'navbarBase/navbarBase.html.twig' %}

{% block body %}
<div class="accueil-view">
 <div class="test-block">
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolor enim explicabo incidunt laborum magni rerum voluptas! Error, quia, veritatis. Ad aliquam amet aperiam impedit laborum quas quo temporibus voluptate.
 </div>
    <div class="test-block">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur aut beatae culpa cum, earum esse, excepturi, explicabo facilis impedit ipsam iste magnam quidem quod rerum sed soluta totam voluptatem?
    </div>
</div>
{% endblock %}
