$bg-white: #F8F8F8;
$bg-primary: #FFF;
$text-primary: rgba(0,0,0,0.8);
$text-secondary : rgba(0,0,0,0.6);
$text-contrast: #FFF;
$primary: #00173D;
$secondary: #0A68FF;
$border: rgba(0, 0, 0, 0.12);
$border-radius: 4px;
