$bg-white: #F8F8F8;
$bg-primary: #FFF;
$text-primary: rgba(0,0,0,0.8);
$text-secondary : rgba(0,0,0,0.6);
$text-contrast: #FFF;
$primary: #00173D;
$secondary: hsla(238, 74%, 61%, 1);
$border: rgba(0, 0, 0, 0.12);
$border-radius: 4px;
$main-gradient: linear-gradient(90deg, #6ee2e0 0%, #5257e5 100%);