@use "../ticket/assets/styles/__colors.scss";

.icon-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: min-content;
  border-radius: _colors.$border-radius;
  padding: 8px;

  img {
    width: 24px;
    height: 24px;
  }

}