@use "../../../assets/styles/theme";

.icon-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: min-content;
  border-radius: theme.$border-radius;
  padding: 8px;

  img {
    width: 24px;
    height: 24px;
  }

}