{% extends 'navbarBase/navbarBase.html.twig' %}


{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="create-ticket-titre">
        <h1> Création du ticket </h1>


        <div class="create-ticket-container"> 

            <div class="create-ticket-form">
                {{ form(form) }} 
            </div>
        </div>
    </div>
{% endblock %}