{% extends 'navbarBase/navbarBase.html.twig' %} {% block stylesheets %} {{
parent() }} {% endblock %} {% block javascripts %} {{ parent() }} {% endblock %}
{% block body %}
<div class="flex-container suivi-container">
	<div class="suivi-ticket-header-control">
		<h1 class="section-header">Suivi du ticket</h1>
		{% if 'ROLE_OPERATEUR' in app.user.roles or 'ROLE_TECHNICIEN' in
		app.user.roles %}
		<a href="{{ path('app_ticket_update', {'id': ticket.id}) }}">
			<button class="modify-button">Modifier le ticket</button>
		</a>
		{% endif %}
	</div>
	<div class="ticket">
		<div class="ticket-meta">
			{{ component('avatar', { user: ticket.operateur }) }}
			<div class="ticket-header">
				<h1 class="ticket-titre">{{ ticket.titre|capitalize }}</h1>
				{{ component('statusChip') }}
			</div>
		</div>
		<p class="ticket-description">{{ ticket.description }}</p>
		<div class="ticket-date">
			<span>
				Crée le {{ ticket.createdAt | date('d-m-Y') }} à {{ ticket.createdAt |
				date('H:i') }}
			</span>
			<span>
				Pour {{ ticket.getClient().getNom() }} {{ ticket.getClient().getPrenom()
				}}
			</span>
		</div>
	</div>
	<div class="update-ticket-container">
		<!-- Nous bouclons sur la collection de commentaires correspondant au ticket -->
		{% for object in objects %}
		<!-- Ici, si l'object possède la propriété getTemps (et donc est une tache), alors on affiche une tache  -->
		{% if object.getTemps is defined %}
		<li class="comment-container ticket tache">
			<!--                    <svg class="tache-svg" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
			<!--                        viewBox="0 0 65.456 65.456" style="enable-background:new 0 0 65.456 65.456;" xml:space="preserve">-->
			<!--                        <g>-->
			<!--	                        <path d="M57.427,5.031C53.76,1.646,49.895,0,45.611,0c-5.052,0-9.663,2.314-14.123,4.553c-4.012,2.014-7.801,3.916-11.432,3.916-->
			<!--		                    c-2.742,0-5.203-1.092-7.745-3.438c-0.875-0.808-2.146-1.021-3.238-0.543c-1.023,0.448-1.698,1.425-1.78,2.526-->
			<!--		                    c-0.147,0.354-0.23,0.742-0.23,1.149v54.293c0,1.657,1.343,3,3,3s3-1.343,3-3V44.807c2.222,1.1,4.536,1.66,6.992,1.66-->
			<!--		                    c0,0,0.001,0,0.002,0c5.051-0.001,9.662-2.314,14.122-4.553c4.013-2.014,7.803-3.915,11.434-3.915c2.742,0,5.203,1.092,7.744,3.438-->
			<!--		                    c0.875,0.81,2.146,1.023,3.238,0.544c1.092-0.478,1.797-1.557,1.797-2.748V7.235C58.392,6.397,58.042,5.599,57.427,5.031z-->
			<!--		                    M52.392,33.534C50.236,32.506,47.989,32,45.613,32c-5.052,0-9.664,2.314-14.125,4.553c-4.012,2.013-7.801,3.914-11.431,3.915-->
			<!--		                    h-0.001c-2.393,0-4.572-0.833-6.778-2.605V12.934c2.156,1.029,4.403,1.535,6.779,1.535c5.052,0,9.664-2.314,14.123-4.553-->
			<!--		                    C38.192,7.902,41.982,6,45.612,6c2.395,0,4.574,0.833,6.78,2.605V33.534z"/>-->
			<!--                        </g>-->
			<!--                    </svg>-->
			{{ component('statusChip', { type: 'tache' }) }}
			<div class="intervention-time">
				<p class="bold-date">{{ object.createdAt|date('d M Y')}}</p>
				<p>Temps d'intervention : {{ object.getTemps()|date('i') }} minutes</p>
			</div>
			<p class="tache-description">Description :</p>
			<p class="tache-description-content">{{ object.description }}</p>
		</li>
		<!-- Ici, si l'object possède la propriété solution (et donc est une solution), alors on affiche une solution  -->
		{% elseif object.solution is defined%}
		<li class="solution-container ticket">
			<!--                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>-->
			<span style="display: flex">
				{{ component('statusChip', { type: 'solution' }) }}
			</span>
			<div style="display: flex; flex-direction: column">
				<p>
					Publiée à {{ object.createdAt | date('H:i') }} le {{ object.createdAt
					| date('d-m-y') }}
				</p>
				<p>Par {{ object.auteur.nom }} {{ object.auteur.prenom }}</p>
			</div>
			<div>
				<h4>Description :</h4>
				{{ object.solution }}
			</div>
		</li>
		<!-- Sinon on affiche un commentaire  -->
		{% else %}
		<li class="comment-container ticket">
			<div class="commentaire-content">
				<div style="display: flex; align-items: center; column-gap: 16px">
					{{ component('avatar', { user: object.auteur }) }} {{
					component('statusChip', { type: 'commentaire' })}}
					<p>publié par {{ object.auteur.nom }} {{ object.auteur.prenom }}</p>
					<p>
						le {{ object.createdAt | date('d-m-Y') }} à {{ object.createdAt |
						date('H:i') }}
					</p>
				</div>
				<p class="ticket-description">{{ object.commentaire }}</p>
			</div>
		</li>
		{% endif %} {% endfor %}
	</div>
</div>
{% endblock %}
