@use "/assets/styles/theme";

.suivi-container {
  max-width: theme.$DESKTOP_WIDTH;
  margin: 0 auto;
};

.ticket {
  position: relative;

  h1 {
    margin: 0;
    padding-bottom: 0.5rem;
  }

  padding: 8px;
  border-radius: theme.$border-radius * 2;
  border: 1px solid theme.$border;
}

.ticket-date {
  position: absolute;
  top: 8px;
  right: 16px;
  color: lightgray;
}