{% extends 'navbarBase/navbarBase.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class='flex-container suivi-container'>
    <h1 class='section-header'>
        Suivi du ticket
    </h1>
    <div class='ticket'>
        <h1>{{ ticket.titre }}</h1>
        <p>{{ ticket.description }}</p>
        <p class='ticket-date'>{{ ticket.createdAt | date('d-m-Y') }}</p>
        <span class='author'>{{ ticket.getOperateur().getNom() }}</span>
    </div>
    <div class="update-ticket-container">
        <!-- Nous bouclons sur la collection de commentaires correspondant au ticket -->
        {% for comments in commentaires %}
            <li class='comment'>
                {{ comments.commentaire}}
            </li>
        {% endfor %}
    </div>
</div>
{% endblock %}